@page "/"

<PageTitle>Sluníčko</PageTitle>

<h1>Křemílek a Vochomůrka</h1>

<div class="container">
    <div class="postava" @onclick="Slunce.Presun" style="@Slunce.Style">
        <img src="/img/slunce.png" style="width: 100%"/>
    </div>
</div>
